<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <h1>Esqueceu a senha?</h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div>
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class:"form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Recuperar senha", class:"btn btn-primary submit", style:"float: none; margin-left: 0px; width: 50%" %>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
          </div>
        <% end %>
        <div class="clearfix"></div>
        <br>
        <div>
          <h1><i class="fa fa-paw"></i> TimeToAnswer!</h1>
          <p>©2077 Todos direitos reservador por ninguém. Nenhuma privacidade e termos</p>
        </div>
      </section>
    </div>
  </div>
</div>
