<div class="sc-fieldset">
  <div class="sc-fieldset-head flex flex-wrap align-items-center" style="padding-top: 0;padding-bottom: 0;min-height: 2.05em;">
    <span class="sc-text-blue sc-text-bold sc-m-r-lg">Anexos</span>
    <div>
      <div class="sc-btn-group sc-m-r-xl sc-m-v-sm" style="font-size: .9em;">
        <button class="sc-btn sc-btn-blue sc-btn-thin sc-text-sm" type="button">
          <i class="sc-icon sc-icon-camera-1"></i>
          <span class="sc-text-lg"> Tirar foto</span>
        </button>
        <label class="sc-btn sc-btn-blue sc-btn-thin sc-text-sm sc-text-normal">
          <input type="file" ng-model="baseFact.params.anexos.arquivo" ng-click="PessoasFormCtrl.anexarObj.anexar" style="display: none;">
          <i class="sc-icon-clipe sc-m-r-sm"></i>
          <span class="sc-text-lg"> Anexar</span>
        </label>
      </div>
      <select class="sc-input-default sc-p-v-o sc-m-v-sm"
        ng-model="baseFact.params.anexos.tipo"
        ng-options="anexos.key as anexos.nome for anexos in PessoasFormCtrl.anexos.tiposAnexo"
        style="font-size: 0.833333em; min-height: 1.7em;">
        <option selected="selected" value>Selecione</option>
      </select>
    </div>
  </div>
  <div class="sc-p-b-o">

    <div class="sc-p-b-xxl sc-p-h-lg hidden">
      <div class="align-center sc-text-blue sc-text-medium sc-p-b-lg">Fotos</div>
      <div class="flex flex-wrap justify-content-center">
        <div class="sc-p-sm sc-relative">
          <div class="sc-relative sc-cursor-pointer">
            <div class="sc-border-radius-full sc-opac-60" style="overflow: hidden; position: relative; width: 48px; height: 48px;">
              <canvas width="48" height="48"></canvas>
            </div>
            <div class="sc-absolute align-center hidden" style="width: 48px;height: 48px;line-height: 48px;top: 0;font-size: 1.5em;">
              <i class="sc-icon-carregando-1 sc-icon-spin sc-text-lg sc-opac-60 sc-text-black"></i> <!-- Icon carregando -->
              <i class="sc-icon-exclamacao-3 sc-opac-40" style="font-size: 1.5em"></i> <!-- Icon exclamação -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sc-text-thin sc-p-md sc-p-b-xxxl sc-p-t-xs sc-text-lg align-center sc-text-blue">Nenhum anexo disponível!</div>
  </div>
</div>
