<div class="sc-accordion-body ng-animation-slider" ng-init="PassagensFormCtrl.init(pessoa, baseFact)">
  <div class="sc-p-lg sc-accordion-element ng-animation-slider">
    <form ng-submit="PassagensFormCtrl.formCadastro.salvar(pessoa, baseFact)">
      <!-- DADOS GERAIS -->
      <div ng-include="PassagensCtrl.templates.passagens.form_dados_gerais"></div>
      <!-- ENDEREÇO -->
      <div ng-include="PassagensCtrl.templates.passagens.form_endereco"></div>
      <!-- PERFIL PARA PAGAMENTO -->
      <div ng-include="PassagensCtrl.templates.passagens.form_perfil_pagamentos"></div>
      <!-- CONTAS BANCÁRIAS -->
      <div ng-include="PassagensCtrl.templates.passagens.form_contas_bancarias"></div>
      <!-- REAJUSTE CONTRATUAL -->
      <div ng-include="PassagensCtrl.templates.passagens.form_reajuste_contratual"></div>
      <!-- ANEXOS -->
      <!-- <div ng-include="PassagensCtrl.templates.passagens.form_anexos"></div> -->
      <!-- BLOQUEAR INADIMPLENTE -->
      <div ng-include="PassagensCtrl.templates.passagens.form_bloquear_inadimplente"></div>

      <div class="right">
        <div class="sc-m-l-md sc-align-bottom">
          <button class="sc-btn sc-btn-red" ng-click="baseFact.close(pessoa)" type="button">
            Cancelar
          </button>
          </div>
          <div class="sc-m-l-md sc-align-bottom">
          <button class="sc-btn sc-btn-blue" type="submit">Salvar</button>
        </div>
      </div>
    </form>
    <div class="clear"></div>
  </div>
</div>


