<div class="sc-fieldset">
  <div class="sc-fieldset-head flex-row">
    <span class="sc-text-blue sc-text-bold">Reajuste Contratual</span>
    <label class="sc-toggle sc-text-sm sc-m-l-lg">
      <input type="checkbox"
        ng-model="baseFact.params.reajuste_contratual.reajustar">
      <span label-false="Não Reajustar" label-true="Reajustar"></span>
    </label>
  </div>
  <div>
    <div ng-if="baseFact.params.reajuste_contratual.reajustar" class="flex-row-with-padding align-items-flex-end">
      <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
        <div class="sc-label">Tipo de Reajuste</div>
        <div class="sc-btn-group">
          <button class="sc-btn" type="button"><i class="sc-icon sc-icon-dinheiro-2"></i> Valor</button>
          <button class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-grafico-3"></i> Índice</button>
        </div>
      </div>
      <div class="fcol-xs-100 fcol-sm-50 fcol-md-20em">
        <label>
          <div class="sc-label">Índice Reajuste</div>
          <div class="sc-input-group">
            <select class="sc-input-default"
              ng-model="baseFact.params.reajuste_contratual.correcao"
              ng-options="correcao.key as correcao.nome for correcao in PassagensFormCtrl.indexFactory.settings.pagadores.lista_correcao">
              <option selected="selected" value>Selecione</option>
            </select>
          </div>
        </label>
      </div>
      <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
        <div class="sc-label">Reajustar a cada</div>
        <div class="sc-input-group">
          <input class="sc-input-default" ng-model="baseFact.params.reajuste_contratual.frequencia" type="number" max="9999" min="1" style="width: 5em; min-width: 5em;">
          <select class="sc-input-default"
            ng-model="baseFact.params.reajuste_contratual.periodo"
            ng-options="periodos.key as periodos.nome for periodos in PassagensFormCtrl.indexFactory.settings.pagadores.lista_periodos">
          </select>
        </div>
      </div>
      <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
        <div class="sc-label">Último reajuste em</div>
        <label>
          <input class="sc-input-default sc-input-block" ng-model="baseFact.params.reajuste_contratual.ultimo_reajuste" type="date" max="3000-12-31">
        </label>
      </div>
      <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
        <div class="sc-label">Notificar reajuste</div>
        <label class="sc-toggle">
          <input type="checkbox" ng-model="baseFact.params.reajuste_contratual.notificar">
          <span label-false="Não" label-true="Sim"></span>
        </label>
      </div>
    </div>
    <div class="sc-text-thin sc-p-md sc-p-t-xs sc-text-lg align-center sc-text-blue" ng-if="!baseFact.params.reajuste_contratual.reajustar">
      Não será reajustado nenhum débito desta pessoa!
    </div>
  </div>
</div>
