<div class="card">
  <div class="card-body">
    <% if @answer[:correct] %>
      <h1>Acertou! uhu  (⊃｡•́‿•̀｡)⊃</h1>
    <% else %>
      <h1>Errou! o não ¯\_(ツ)_/¯</h1>

    <% end %>
  </div>
</div>
