<div ng-controller="PessoasCtrl as PessoasCtrl" ng-init="PessoasCtrl.init()" style="background-color: #fff ">
  <header class="flex align-items-center" style="background-color: #004565; height: 54px;">
    <div style="height: 42px;">
      <img height="100%" class="sc-border-radius"
        src="https://www.seucondominio.com.br/assets/responsivo/logo-seucondominio-d27c9e579e5286867bca8a6707f5f9af96addd5d7b62d47c0d0f8685979e6b0d.svg">
    </div>
  </header>

  <section id="top-bar" class="sc-bg-gray-lighter" style="height: 52px;">
    <div id="top-bar-content">
      <div ng-include="'<%= asset_path('pagadores/top_bar_content.html') %>'"></div>
    </div>
  </section>

  <section id="breadcrumb">
    <a ng-href="/dashboard" href="/dashboard">Início</a>
     / Financeiro / Cadastro de Pessoas
  </section>

  <section id="pessoas">
    <ul class="sc-accordion">
      <!-- aqui é novo cadastro -->
      <li class="sc-acc-blue ng-animation sc-bg-gray-lighter"
        ng-class="{'sc-acc-opened sc-acc-blue' : pessoa.opened}"
        style="display: block;"
        ng-if="PessoasCtrl.formFactory.opened"
        ng-controller="PessoasFormCtrl as PessoasFormCtrl">
        <div class="sc-accordion-head sc-text-blue" ng-click="PessoasCtrl.formFactory.close(pessoa)">
          <div class="sc-accordion-col-3 align-center">
            <i class="sc-text-xl sc-icon-mais-1"></i>
          </div>
          <div class="sc-accordion-elastic-col title">
            <div class="sc-p-xs">Nova Pessoa</div>
          </div>
        </div>
        <div ng-include="PessoasCtrl.templates.pagadores.form" ng-init="baseFact = PessoasCtrl.formFactory"></div>
      </li>
      <!-- Lista de pessoas -->
      <li ng-repeat="pessoa in PessoasCtrl.listCtrl.list | filter:PessoasCtrl.filtro.listar as results"
        class="sc-bg-gray-lighter"
        ng-class="{'sc-acc-blue' : pessoa.opened}"
        ng-controller="PessoaCtrl as PessoaCtrl"
        ng-init="PessoaCtrl.init(pessoa)">
        <div ng-click="PessoaCtrl.accToggle(pessoa)" class="sc-accordion-head sc-text-blue sc-acc-hover-blue">
          <div class="sc-accordion-col-3 align-center sc-divider">
            <i class="sc-text-xl sc-icon sc-icon-homem-1" ng-show="!pessoa.juridica"></i>
            <i class="sc-text-xl sc-icon sc-icon-fabrica" ng-show="pessoa.juridica"></i>
          </div>
          <div class="sc-accordion-elastic-col title">
            <span class="sc-p-xs flex">{{pessoa.nome}}
              <span ng-show="pessoa.tipo.includes('Pagador')"
                class="sc-ellipsis-inline sc-text-white sc-p-v-xs sc-p-h-md sc-text-sm sc-border-radius sc-m-l-md sc-bg-blue">
                Pagador
              </span>
              <span ng-show="pessoa.tipo.includes('Fornecedor')"
                class="sc-ellipsis-inline sc-text-white sc-p-v-xs sc-p-h-md sc-text-sm sc-border-radius sc-m-l-md sc-bg-yellow">
                Fornecedor
              </span>
            </span>
            <span class="sc-text-white sc-p-v-xs sc-p-h-md sc-bg-green sc-text-xs sc-text-normal sc-border-radius sc-m-l-md ng-scope" ng-if="pessoa.novo">
              NOVO
            </span>
          </div>
          <!-- Mais opções -->
          <span class="sc-dropdown pull-right" sc-dropdown-menu="" sc-stop-click="">
            <i class="sc-icon-reticiencias-v sc-badge-hover-gray"
              ng-class="{'sc-badge-hover-white': pessoa.opened, 'sc-badge-active': menu.opened}"
              ng-click="menu.isOn = !menu.isOn">
            </i>
            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
              <li>
                <a sc-dropdown-close-menu=""
                  ng-click="PessoaCtrl.formCtrl.open(pessoa)">
                  <i class="sc-icon-lapis"></i> Editar
                </a>
              </li>
              <li>
                <a sc-dropdown-close-menu=""
                  ng-click="PessoasCtrl.listCtrl.alertExcluirRegistro(pessoa)">
                  <i class="sc-icon-lixeira-1"></i> Excluir
                </a>
              </li>
              <li>
                <a sc-dropdown-close-menu=""
                  ng-click="" >
                  <i class="sc-icon-historico"></i> Histórico
                </a>
              </li>
            </ul>
          </span>
        </div>

        <div ng-if="pessoa.opened">
          <!-- Include do form de edição e show -->
          <div ng-include="PessoasCtrl.templates.pagadores.form" class="ng-animation-slider"
            ng-controller="PessoasFormCtrl as PessoasFormCtrl"
            ng-if="pessoa.editing"
            ng-init="pessoa.formFactory.init(pessoa); baseFact = pessoa.formFactory">
          </div>

          <div ng-include="PessoasCtrl.templates.pagadores.show" class="ng-animation-slider" ng-show="!pessoa.editing"></div>
          <div class="clear"></div>
        </div>

      </li>
    </ul>
  </section>
</div>
