<div class="sc-accordion-body" style="display: block;">
  <div class="sc-p-lg">

    <div class="col-xs-12 col-md-6" ng-show="!pessoa.doc && !pessoa.rg && !pessoa.prof && !pessoa.nasc && !pessoa.email && !pessoa.emailalt">
      <div class="sc-accordion-element sc-fieldset sc-bg-white">
        <div class="sc-fieldset-head" ng-show="pessoa.nome">
          <span class="sc-p-b-md sc-text-blue sc-text-bold">{{pessoa.nome}}</span>
        </div>
        <div class="sc-text-thin sc-p-md sc-p-b-xxxl sc-p-t-xs sc-text-lg align-center sc-text-blue">
          Complete o cadastro!
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6" ng-show="pessoa.doc || pessoa.rg || pessoa.prof || pessoa.nasc || pessoa.email || pessoa.emailalt">
      <div class="sc-accordion-element sc-fieldset sc-bg-white">
        <div class="sc-fieldset-head">
          <span class="sc-p-b-md sc-text-blue sc-text-bold">{{pessoa.nome}}</span>
        </div>
        <div class="sc-text-gray">
          <div class="sc-p-xs" ng-show="pessoa.doc">
            <i class="sc-p-r-md left sc-icon-homem-1" ng-show="!pessoa.juridica"></i>
            <i class="sc-p-r-md left sc-icon-fabrica" ng-show="pessoa.juridica"></i>
            <div>
              <span class="sc-text-bold" ng-show="!pessoa.juridica">CPF:</span>
              <span class="sc-text-bold" ng-show="pessoa.juridica">CNPJ:</span>
               {{pessoa.doc}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.contato">
            <i class="sc-p-r-md left sc-icon-homem-1"></i><div><span class="sc-text-bold">Contato:</span> {{pessoa.contato}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.rg">
            <i class="sc-p-r-md left sc-icon-cartao-1"></i><div><span class="sc-text-bold">RG:</span> {{pessoa.rg}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.prof">
            <i class="sc-p-r-md left sc-icon-maleta"></i><div><span class="sc-text-bold">Profissão:</span> {{pessoa.prof}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.nasc">
            <i class="sc-p-r-md left sc-icon-calendario-2"></i><div><span class="sc-text-bold">Nascimento:</span> {{pessoa.nasc | date:"dd/MM/yyyy"}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.telefone">
            <i class="sc-p-r-md left sc-icon-telefone-1"></i><div><span class="sc-text-bold">Telefone:</span> {{pessoa.telefone}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.email">
            <i class="sc-p-r-md left sc-icon-carta-2"></i><div><span class="sc-text-bold">Email principal:</span> {{pessoa.email}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.emailalt">
            <i class="sc-p-r-md left sc-icon-carta-2"></i><div>{{pessoa.emailalt}}</div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.endereco_principal">
            <i class="sc-p-r-md left sc-icon-local"></i>
            <div>
              <span ng-show="pessoa.endereco_principal.logradouro">{{pessoa.endereco_principal.logradouro}}, </span>
              <span ng-show="pessoa.endereco_principal.complemento">{{pessoa.endereco_principal.complemento}}, </span>
              <span ng-show="pessoa.endereco_principal.bairro">{{pessoa.endereco_principal.bairro}}, </span>
              <span ng-show="pessoa.endereco_principal.cidade">{{pessoa.endereco_principal.cidade}}, </span>
              <span ng-show="pessoa.endereco_principal.cep">{{pessoa.endereco_principal.cep}}</span>
            </div>
          </div>
          <div class="sc-p-xs" ng-show="pessoa.obs">
            <i class="sc-p-r-md left sc-icon-arquivo-4"></i><div><span class="sc-text-bold">OBS:</span> {{pessoa.obs}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="sc-accordion-element sc-fieldset sc-bg-white">
        <div class="sc-fieldset-head">
          <span class="sc-p-b-md sc-text-blue sc-text-bold">Anexos</span>
        </div>
        <div class="sc-text-thin sc-p-md sc-p-b-xxxl sc-p-t-xs sc-text-lg align-center sc-text-blue">
          Nenhum anexo disponível!
        </div>
      </div>
    </div>

    <div class="col-xs-12" ng-show="pessoa.contas.length">
      <div class="sc-fieldset sc-bg-white">
        <div class="sc-fieldset-head">
          <span class="sc-p-b-md sc-text-bold sc-text-blue">Contas</span>
        </div>

        <div class="sc-text-gray">
          <div class="sc-p-sm sc-text-gray-dark"
            ng-class="{'sc-border-b-dotted sc-m-b-sm':!$last, 'sc-bg-blue-lighter sc-text-gray-dark':conta.principal}"
            ng-repeat="conta in pessoa.contas">
            <div>
              <b>Conta:</b>
              <span class="sc-m-l-sm">
                <span>{{conta.banco_nome}}</span>
                <span class="sc-p-h-sm">-</span>
                <b>Ag:</b> {{conta.agencia}} -
                <span ng-show="conta.dv_agencia">{{conta.dv_agencia}}</span>
                <span class="sc-p-h-sm">-</span>
                <b>C/c:</b> {{conta.numero_conta}} -
                <span ng-show="conta.dv_conta">{{conta.dv_conta}}</span>
              </span>
            </div>
            <div>
              <b>Beneficiário:</b>
              <span class="sc-m-l-sm">
                <span>{{conta.responsavel}}</span>
                <span class="sc-p-h-sm">-</span>
                <span><b>{{conta.doc}}</b></span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

