<div class="sc-fieldset form-pessoa fieldset-pessoa-dadosgerais">
  <div class="sc-fieldset-head">
    <span class="sc-p-b-md sc-text-blue sc-text-bold">Dados Gerais</span>
  </div>
  <div class="flex-row-with-padding pessoa-dadosgerais">
    <div class="fcol-xs-16em">
      <div class="sc-label">Tipo</div>
      <div class="sc-btn-group">
        <div class="sc-btn"
          ng-click="PessoasFormCtrl.params.tipo = 'Pagador'"
          ng-class="{'sc-btn-blue' : (PessoasFormCtrl.params.tipo == 'Pagador')}">Pagador</div>
        <div class="sc-btn"
          ng-click="PessoasFormCtrl.params.tipo = 'Fornecedor'"
          ng-class="{'sc-btn-blue' : (PessoasFormCtrl.params.tipo == 'Fornecedor')}">Fornecedor</div>
      </div>
    </div>
    <div class="fcol-xs-11em">
      <div class="sc-label">Pessoa</div>
      <div class="sc-btn-group">
        <div class="sc-btn"
          ng-click="PessoasFormCtrl.params.juridica = false"
          ng-class="{'sc-btn-blue' : !PessoasFormCtrl.params.juridica}">Física</div>
        <div class="sc-btn"
          ng-click="PessoasFormCtrl.params.juridica = true"
          ng-class="{'sc-btn-blue' : PessoasFormCtrl.params.juridica}">Jurídica</div>
      </div>
    </div>
    <div class="fcol-xs-11em" ng-if="!PessoasFormCtrl.params.juridica">
      <div class="sc-label">Sexo</div>
      <div class="sc-btn-group">
        <div class="sc-btn"
          ng-click="PessoasFormCtrl.params.sexo = 'm'"
          ng-class="{'sc-btn-blue' : (PessoasFormCtrl.params.sexo == 'm')}">Masc.</div>
        <div class="sc-btn"
          ng-click="PessoasFormCtrl.params.sexo = 'f'"
          ng-class="{'sc-btn-red' : (PessoasFormCtrl.params.sexo == 'f')}"
          ng-style="{'filter': (PessoasFormCtrl.params.sexo == 'f' && 'hue-rotate(-25deg) brightness(1.1)')}">Femin.
        </div>
      </div>
    </div>
    <div class="fcol-xs-7em" ng-if="!PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">Deficiente</div>
        <div class="sc-p-v-sm">
          <span class="sc-toggle sc-toggle-false-blue">
            <input type="checkbox" ng-model="PessoasFormCtrl.params.deficiente">
            <span label-false="não" label-true="sim">
            </span>
          </span>
        </div>
      </label>
    </div>
    <div class="fcol-xs-auto" ng-if="!PessoasFormCtrl.params.juridica" style="min-width: 16em">
      <label>
        <div class="sc-label">Nome</div>
        <input class="sc-input-default sc-input-block" ng-model="PessoasFormCtrl.params.nome" ng-class="{'error' : PessoasFormCtrl.erroNome}" type="text">
      </label>
    </div>
    <div class="fcol-xs-auto" style="min-width: 16em" ng-if="PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">Nome Fantasia</div>
        <input class="sc-input-default sc-input-block" ng-model="PessoasFormCtrl.params.nome" ng-class="{'error': PessoasFormCtrl.erroNome}" type="text">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" style="min-width: 16em" ng-if="PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">Razão Social</div>
        <input class="sc-input-default sc-input-block" ng-model="PessoasFormCtrl.params.razaoSocial" type="text">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" ng-if="PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">CNPJ</div>
        <input class="sc-input-default sc-input-block" maxlength="14" style="max-width: 100%" type="text" ng-model="PessoasFormCtrl.params.doc">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" ng-if="PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">Contato</div>
        <input class="sc-input-default sc-input-block" style="max-width: 100%" type="text" ng-model="PessoasFormCtrl.params.contato">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" ng-if="!PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">CPF</div>
        <input class="sc-input-default sc-input-block" maxlength="11" style="max-width: 100%" type="text" ng-model="PessoasFormCtrl.params.doc">
      </label>
    </div>

    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" ng-if="!PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">RG</div>
        <input class="sc-input-default sc-input-block" type="text" ng-model="PessoasFormCtrl.params.rg">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" ng-if="!PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">Nascimento</div>
        <input class="sc-input-default sc-input-block" type="date" max="3000-12-31" ng-model="PessoasFormCtrl.params.nasc">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20" ng-if="!PessoasFormCtrl.params.juridica">
      <label>
        <div class="sc-label">Profissão</div>
        <input class="sc-input-default sc-input-block" type="text" ng-model="PessoasFormCtrl.params.prof">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20">
      <label>
        <div class="sc-label">E-mail (principal)</div>
        <input class="sc-input-default sc-input-block" type="text" ng-model="PessoasFormCtrl.params.email">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-md-40">
      <label>
        <div class="sc-label">E-mail alternativos</div>
        <input class="sc-input-default sc-input-block" type="email" placeholder="Digite um novo e-mail" ng-model="PessoasFormCtrl.params.emailalt">
      </label>
    </div>
    <div class="fcol-xs-100 fcol-sm-50 fcol-md-10em">
      <label>
        <div class="sc-label">Identificador
          <span class="sc-tooltip-md sc-m-l-xs" sc-tooltip="Usado no Controle de Acesso"><i class="sc-icon-info-2"></i></span>
          <input class="sc-input-default sc-input-block" type="number" ng-model="PessoasFormCtrl.params.iden">
        </div>
      </label>
    </div>
    <div class="fcol-xs-100 fcol-md-50">
      <label>
        <div class="sc-label">Telefones</div>
        <input class="sc-input-default sc-input-block" type="text" placeholder="Digite um novo telefone" ng-model="PessoasFormCtrl.params.telefone">
      </label>
    </div>
    <div class="fcol-xs-100">
      <label>
        <div class="sc-label">Observações</div>
        <textarea class="sc-input-default sc-input-block" rows="3" ng-model="PessoasFormCtrl.params.obs"></textarea>
      </label>
    </div>
  </div>
</div>
