<div class="sc-accordion-body ng-animation-slider" ng-init="formCtrl.init(idxCtrl.formFactory, pessoa)">
  <div class="sc-p-lg sc-accordion-element">
    <form ng-submit="formCtrl.formCadastro.add(pessoa)">

      <div class="sc-fieldset form-pessoa fieldset-pessoa-dadosgerais">
        <div class="sc-fieldset-head">
          <span class="sc-p-b-md sc-text-blue sc-text-bold">Dados Gerais</span>
        </div>
        <div class="flex-row-with-padding pessoa-dadosgerais">
          <div class="fcol-xs-16em">
            <div class="sc-label">Tipo</div>
            <div class="sc-btn-group">
              <div class="sc-btn"
                ng-click="idxCtrl.listaPessoas.tipo = !idxCtrl.listaPessoas.tipo"
                ng-class="{'sc-btn-blue' : idxCtrl.listaPessoas.tipo}">Pagador</div>
              <div class="sc-btn"
                ng-click="idxCtrl.listaPessoas.tipo = !idxCtrl.listaPessoas.tipo"
                ng-class="{'sc-btn-blue' : idxCtrl.listaPessoas.tipo}">Fornecedor</div>
            </div>
          </div>
          <div class="fcol-xs-11em">
            <div class="sc-label">Pessoa</div>
            <div class="sc-btn-group">
              <div class="sc-btn">Física</div>
              <div class="sc-btn">Jurídica</div>
            </div>
          </div>
          <div class="fcol-xs-11em">
            <div class="sc-label">Sexo</div>
            <div class="sc-btn-group">
              <div class="sc-btn">Masc.</div>
              <div class="sc-btn">Femin.</div>
            </div>
          </div>
          <div class="fcol-xs-7em">
            <label>
              <div class="sc-label">Deficiente</div>
              <div class="sc-p-v-sm">
                <span class="sc-toggle sc-toggle-false-blue">
                  <input type="checkbox" style="">
                  <span label-false="não" label-true="sim">
                  </span>
                </span>
              </div>
            </label>
          </div>
          <div class="fcol-xs-auto" style="min-width: 16em">
            <label>
              <div class="sc-label">Nome</div>
              <input class="sc-input-default sc-input-block" ng-model="formCtrl.params.nome" type="text">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20">
            <label>
              <div class="sc-label">CPF</div>
              <input class="sc-input-default sc-input-block" style="max-width: 100%" type="text" ng-model="formCtrl.params.cpf">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20">
            <label>
              <div class="sc-label">RG</div>
              <input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.rg">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20">
            <label>
              <div class="sc-label">Nascimento</div>
              <input class="sc-input-default sc-input-block" type="date" max="3000-12-31" ng-model="formCtrl.params.nasc">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20">
            <label>
              <div class="sc-label">Profissão</div>
              <input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.prof">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-25 fcol-lg-20">
            <label>
              <div class="sc-label">E-mail (principal)</div>
              <input class="sc-input-default sc-input-block" type="text" ng-model="formCtrl.params.email">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-md-40">
            <label>
              <div class="sc-label">E-mail alternativos</div>
              <input class="sc-input-default sc-input-block" type="email" placeholder="Digite um novo e-mail" ng-model="formCtrl.params.emailalt">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-10em">
            <label>
              <div class="sc-label">Identificador
                <span class="sc-tooltip-md sc-m-l-xs" sc-tooltip="Usado no Controle de Acesso"><i class="sc-icon-info-2"></i></span>
                <input class="sc-input-default sc-input-block" type="number">
              </div>
            </label>
          </div>
          <div class="fcol-xs-100 fcol-md-50">
            <label>
              <div class="sc-label">Telefones</div>
              <input class="sc-input-default sc-input-block" type="text" placeholder="Digite um novo telefone" ng-model="formCtrl.params.telefone">
            </label>
          </div>
          <div class="fcol-xs-100">
            <label>
              <div class="sc-label">Observações</div>
              <textarea class="sc-input-default sc-input-block" rows="3" ng-model="formCtrl.params.obs"></textarea>
            </label>
          </div>
        </div>
      </div>

      <div class="sc-fieldset sc-fieldset-pessoa-endereco">
        <div class="sc-fieldset-head flex-row">
          <span class="sc-text-blue sc-text-bold">Endereços</span>
          <div class="sc-btn sc-btn-green sc-btn-thin sc-btn-sm sc-m-l-lg"
            ng-click="formCtrl.formEnd.add()">
            <i class="sc-icon sc-icon-mais-1 sc-m-r-md"></i>Adicionar
          </div>
        </div>
        <div class="flex-row-with-padding pessoa-endereco"
          ng-repeat="end in formCtrl.enderecos track by end.id">
          <div class="fcol-xs-7em">
            <label>
              <div class="sc-label">Principal?</div>
              <div class="sc-p-v-sm">
                <span class="sc-toggle">
                  <input type="checkbox">
                  <span label-false="não" label-true="sim"></span>
                </span>
              </div>
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-30 fcol-md-13em">
            <label>
              <div class="sc-label">Título do Endereço</div>
              <input class="sc-input-default sc-input-block" type="text" placeholder="Casa, trabalho, etc...">
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-12em">
            <label>
              <div class="sc-label">CEP</div>
              <div class="sc-input-group">
                <input class="sc-input-default sc-input-block" type="text" style="max-width: 100%">
                <div class="sc-btn sc-btn-blue">
                  <i class="sc-icon sc-icon-lupa-2"></i>
                </div>
              </div>
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-20em">
            <label>
              <div class="sc-label">Cidade</div>
              <div class="sc-input-group">
                <input class="sc-input-default sc-input-block" type="text" style="max-width: 100%">
                <div class="sc-btn sc-btn-blue">
                  <i class="sc-icon sc-icon-lupa-2"></i>
                </div>
              </div>
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-50">
            <label>
              <div class="sc-label">Logradouro</div>
              <div class="sc-input-group">
                <input class="sc-input-default sc-input-block" type="text" style="max-width: 100%" placeholder="Rua João Alves">
              </div>
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-40 fcol-md-20em">
            <label>
              <div class="sc-label">Número/Complemento</div>
              <div class="sc-input-group">
                <input class="sc-input-default sc-input-block" type="text" style="max-width: 100%" placeholder="N° 31, Bloco 2, Ap. 103">
              </div>
            </label>
          </div>
          <div class="fcol-xs-100 fcol-sm-40 fcol-md-20em">
            <label>
              <div class="sc-label">Bairro</div>
              <div class="sc-input-group">
                <input class="sc-input-default sc-input-block" type="text" style="max-width: 100%" placeholder="Setor Central">
              </div>
            </label>
          </div>
          <div class="fcol-xs-3em align-self-center"
            ng-click="formCtrl.formEnd.rmv(end)">
            <i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red"></i>
          </div>
          <div class="sc-border-b-dashed fcol-xs-100 sc-p-v-lg"
            ng-if="formCtrl.enderecos.length > 1 && !$last">
          </div>

        </div>
      </div>

      <div class="sc-fieldset">
        <div class="sc-fieldset-head flex-row">
          <span class="sc-text-blue sc-text-bold">Perfil para Pagamento</span>
        </div>

        <div class="flex-row-with-padding align-items-flex-end">
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
            <label>
              <div class="sc-label">Operação</div>
              <div class="sc-input-group">
                <select class="sc-input-default sc-input-block"
                  ng-model="formCtrl.operacao"
                  ng-options="operacoes.key as operacoes.label for operacoes in formCtrl.operacoes">
                  <option selected="selected" value>Selecione uma operação</option>
                </select>
              </div>
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
            <label>
              <div class="sc-label">Plano de contas</div>
              <span sc-dropdown-menu="" class="sc-dropdown">
                <div class="sc-input-group">
                  <input ng-click="menu.toggle()" class="sc-input-group sc-input-default sc-input-block">
                  <i class="sc-icon sc-icon-seta-5-baixo sc-btn sc-btn-blue"></i>
                </div>
                <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
                  <div class="sc-scrollbar" style="max-height: 15em; overflow: auto;">
                    <li ng-repeat="planoDeContas in formCtrl.planoDeContas" ng-class="{'disabled': filtro.disabled}">
                      <div>
                        <span>{{planoDeContas.label}}</span>
                      </div>
                    </li>
                  </div>
                </ul>
              </span>
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
            <label>
              <div class="sc-label">Fundo</div>
              <span sc-dropdown-menu="" class="sc-dropdown">
                <div class="sc-input-group">
                  <input ng-click="menu.toggle()" class="sc-input-group sc-input-default sc-input-block">
                  <i class="sc-icon sc-icon-seta-5-baixo sc-btn sc-btn-blue"></i>
                </div>
                <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
                  <div class="sc-scrollbar" style="max-height: 15em; overflow: auto;">
                    <li ng-repeat="fundo in formCtrl.fundo" ng-class="{'disabled': filtro.disabled}">
                      <div>
                        <span>{{fundo.label}}</span>
                      </div>
                    </li>
                  </div>
                </ul>
              </span>
            </label>
          </div>

        </div>
      </div>

      <div class="sc-fieldset">
        <div class="sc-fieldset-head flex-row">
          <span class="sc-text-blue sc-text-bold">Contas Bancárias</span>
          <div class="sc-btn sc-btn-green sc-btn-thin sc-btn-sm sc-m-l-lg"
            ng-click="formCtrl.formConta.add()">
            <i class="sc-icon sc-icon-mais-1 sc-m-r-md"></i>Adicionar
          </div>
        </div>

        <div class="flex-row-with-padding align-items-flex-end"
          ng-repeat="conta in formCtrl.contasBanc track by conta.id">

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-15em">
            <label>
              <div class="sc-label">Banco</div>
              <span sc-dropdown-menu="" class="sc-dropdown">
                <div class="sc-input-group">
                  <input ng-click="menu.toggle()" class="sc-input-group sc-input-default sc-input-block">
                  <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                </div>
                <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
                  <div class="sc-scrollbar" style="max-height: 15em; overflow: auto;">
                    <li ng-repeat="banco in formCtrl.banco" ng-class="{'disabled': filtro.disabled}">
                      <div>
                        <span>{{banco.label}}</span>
                      </div>
                    </li>
                  </div>
                </ul>
              </span>
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
            <label>
              <div class="sc-label">Tipo da Conta</div>
              <div class="sc-input-group">
                <select class="sc-input-default sc-input-block"
                  ng-model="formCtrl.params.tipoConta"
                  ng-options="tipoConta.key as tipoConta.label for tipoConta in formCtrl.tipoConta">
                  <option selected="selected" value>Selecione</option>
                </select>
              </div>
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-15em">
            <label>
              <div class="sc-label">Agência</div>
              <input class="sc-input-default" style="max-width: 9em;" type="text">
              <b class="sc-text-gray sc-m-h-xs">-</b>
              <input class="sc-input-default" placeholder="DV" style="max-width: 3em;" type="text">
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-15em">
            <label>
              <div class="sc-label">Número da Conta</div>
              <input class="sc-input-default" style="max-width: 9em;" type="text">
              <b class="sc-text-gray sc-m-h-xs">-</b>
              <input class="sc-input-default" placeholder="DV" style="max-width: 3em;" type="text">
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-22em">
            <label>
              <div class="sc-label">Nome da Pessoa</div>
              <input class ="sc-input-default sc-input-block" type="text">
            </label>
          </div>

          <div class="fcol-xs-100 fcol-sm-50 fcol-md-17em">
            <label>
              <div class="sc-label">CPF/CNPJ</div>
              <div class="sc-input-group">
                <input class="sc-input-default sc-input-block" type="text">
                <button class="sc-btn sc-btn-blue" type="button">PF</button>
                <button class="sc-btn" type="button">PJ</button>
              </div>
            </label>
          </div>

          <div class="fcol-xs-default">
            <button class="sc-btn sc-btn-blue" type="button">Principal</button>
          </div>

          <div class="fcol-xs-3"
            ng-click="formCtrl.formConta.rmv(conta)">
            <i class="sc-icon-lixeira-1 sc-badge-hover-red sc-text-lg"></i>
          </div>

          <div class="sc-border-b-solid sc-border-gray-light fcol-xs-100 sc-p-v-lg"
            ng-if="formCtrl.contasBanc.length > 1 && !$last">
          </div>

        </div>
      </div>

      <div class="sc-fieldset">
        <div class="sc-fieldset-head flex-row">
          <span class="sc-text-blue sc-text-bold">Reajuste Contratual</span>
          <label class="sc-toggle sc-text-sm sc-m-l-lg">
            <input type="checkbox"
              ng-model="formCtrl.reajuste"
              ng-change="formCtrl.reajuste = !formCtrl.reajuste"
            >
            <span label-false="Não Reajustar" label-true="Reajustar"></span>
          </label>
        </div>

        <div ng-if="!formCtrl.reajuste">
          <div class="flex-row-with-padding align-items-flex-end">

            <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
              <div class="sc-label">Tipo de Reajuste</div>
              <div class="sc-btn-group">
                <button class="sc-btn" type="button"><i class="sc-icon sc-icon-dinheiro-2"></i> Valor</button>
                <button class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-grafico-3"></i> Índice</button>
              </div>
            </div>


            <div class="fcol-xs-100 fcol-sm-50 fcol-md-20em">
              <label>
                <div class="sc-label">Índice Reajuste</div>
                <div class="sc-input-group">
                  <select class="sc-input-default"
                    ng-model="formCtrl"
                    ng-options="correcao.key as correcao.label for correcao in formCtrl.correcao">
                    <option selected="selected" value>Selecione</option>
                  </select>
                </div>
              </label>
            </div>

            <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
              <div class="sc-label">Reajustar a cada</div>
              <div class="sc-input-group">
                <input class="sc-input-default" type="number" max="9999" min="1" style="width: 5em; min-width: 5em;">
                <select class="sc-input-default"
                  ng-model="formCtrl"
                  ng-options="periodos.key as periodos.label for periodos in formCtrl.periodos" ng-selected="periodos.default">
                </select>
              </div>
            </div>

            <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
              <div class="sc-label">Último reajuste em</div>
              <label>
                <input class="sc-input-default sc-input-block" type="date" max="3000-12-31">
              </label>
            </div>

            <div class="fcol-xs-100 fcol-sm-50 fcol-md-default">
              <div class="sc-label">Notificar reajuste</div>
              <label class="sc-toggle">
                <input type="checkbox">
                <span label-false="Não" label-true="Sim"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="sc-fieldset">
        <div class="sc-fieldset-head flex flex-wrap align-items-center" style="padding-top: 0;padding-bottom: 0;min-height: 2.05em;">
          <span class="sc-text-blue sc-text-bold sc-m-r-lg">Anexos</span>
          <div>
            <div class="sc-btn-group sc-m-r-xl sc-m-v-sm" style="font-size: .9em;">
              <button class="sc-btn sc-btn-blue sc-btn-thin sc-text-sm" type="button">
                <i class="sc-icon sc-icon-camera-1"></i>
                <span class="sc-text-lg"> Tirar foto</span>
              </button>
              <label class="sc-btn sc-btn-blue sc-btn-thin sc-text-sm sc-text-normal">
                <i class="sc-icon-clipe sc-m-r-sm"></i>
                <span class="sc-text-lg"> Anexar</span>
              </label>
            </div>
            <select class="sc-input-default sc-p-v-o sc-m-v-sm"
              ng-model="formCtrl"
              ng-options="anexos.key as anexos.label for anexos in formCtrl.anexos"
              style="font-size: 0.833333em; min-height: 1.7em;">
              <option selected="selected" value>Selecione</option>
            </select>
          </div>
        </div>
        <div class="sc-p-b-o">
          <div class="sc-text-thin sc-p-md sc-p-b-xxxl sc-p-t-xs sc-text-lg align-center sc-text-blue">Nenhum anexo disponível!</div>
        </div>
      </div>

      <div class="sc-fieldset">
        <div class="sc-fieldset-head flex">
          <span class="sc-text-blue sc-text-bold">Bloquear cliente inadimplente</span>
          <label class="sc-toggle sc-text-sm sc-m-l-lg">
            <span label-false="Não" label-true="Sim"></span>
          </label>
        </div>
        <div>
          <div class="flex-row-with-padding align-items-center">
            <div class="fcol-xs-default">
              <span class="sc-text-blue">A partir de</span>
            </div>
            <div class="fcol-xs-default">
              <input class="sc-input-default" max="99" min="0" placeholder="Ex. 1" style="width: 5em;" type="number">
              <select class="sc-input-default"
                ng-model="formCtrl"
                ng-options="periodos.key as periodos.label for periodos in formCtrl.periodos">
                <option value label="Selecione">Selecione</option>
              </select>
            </div>
              <div class="fcol-xs-default">
                <label class="sc-toggle">
                  <span label-false="Antes" label-true="Depois"></span>
                </label>
              </div>
              <div class="fcol-xs-default">
                <span class="sc-text-blue"> do vencimento</span>
              </div>
              <div class="fcol-xs-100 sx-m-t-lg">
                <div sc-dropdown-menu style="max-width: 25em; position: relative;">
                  <div class="sc-label">Clientes</div>
                  <div class="sc-input-group" style="overflow:visible">
                    <input class="sc-input-default sc-input-block" placeholder="Digite um cliente" type="text">
                    <div class="sc-btn sc-btn-blue">
                      <i class="sc-icon-lupa-2"></i>
                    </div>
                    <div class="sc-btn sc-relative">
                      <i class="sc-icon sc-icon-visto-1"></i>
                      <span class="sc-badge sc-badge-fixed sc-bg-yellow">0</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

      <div class="right">
        <div class="sc-m-l-md sc-align-bottom">
          <button class="sc-btn sc-btn-red"
            ng-click="idxCtrl.formFactory.close()"
            type="button">Cancelar</div>
        </button>
        <div class="sc-m-l-md sc-align-bottom">
          <button class="sc-btn sc-btn-blue" type="submit">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>


