<!DOCTYPE html>
<html>
<head>
  <title>Pessoas - Financeiro </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/prototype.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/uikit.css" />
  <link rel="stylesheet" type="text/css" href="./css/uikit-sample.css" />
  <script type="text/javascript" src="js/modernizr.js"> </script>
  <script type="text/javascript" scr="./node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="pagadoresFinanc" ng-controller="PessoasIndexCtrl as idxCtrl" ng-init="idxCtrl.init()" class="sc-system">

  <header class="flex align-items-center" style="background-color: #004565; height: 54px;">
    <div style="height: 42px;">
      <img height="100%" class="sc-border-radius"
        src="https://www.seucondominio.com.br/assets/responsivo/logo-seucondominio-d27c9e579e5286867bca8a6707f5f9af96addd5d7b62d47c0d0f8685979e6b0d.svg">
    </div>
  </header>

  <section id="top-bar" style="height: 52px;">
    <div id="top-bar-content">
      <div ng-include="'top_bar_content.html'"></div>
    </div>
  </section>

  <section id="breadcrumb">
    <a ng-href="/dashboard" href="/dashboard">Início</a>
     / Financeiro / Cadastro de Pessoas
   </section>

  <section id="pessoas">
    <ul class="sc-accordion">
      <!-- aqui é novo cadastro -->
      <li class="sc-acc-blue ng-animation-slider sc-bg-gray-lighter"
        ng-class="{'sc-acc-opened sc-acc-blue' : pessoa.opened}"
        style="display: block;"
        ng-if="idxCtrl.formFactory.opened && idxCtrl.formFactory.new_record"
        ng-controller="formularioCtrl as formCtrl">
        <div class="sc-accordion-head sc-text-blue" ng-click="idxCtrl.formFactory.close()">
          <div class="sc-accordion-col-3 align-center">
            <i class="sc-text-xl sc-icon-mais-1"></i>
          </div>
          <div class="sc-accordion-elastic-col title">
            <div class="sc-p-xs">Nova Pessoa</div>
          </div>
        </div>
        <div ng-include="'form.html'"></div>
      </li>
      <!-- aqui é pessoas (lista) -->
      <li ng-repeat="pessoa in idxCtrl.listaPessoas | filter:idxCtrl.listar as results track by pessoa.id"
        class="sc-bg-gray-lighter"
        ng-class="{'sc-acc-blue' : pessoa.acc.opened}"
        ng-controller="showCtrl as itemCtrl"
        ng-init="itemCtrl.init(pessoa)">
        <div ng-click="itemCtrl.accToggle(pessoa)" class="sc-accordion-head sc-text-blue sc-acc-hover-blue">
          <div class="sc-accordion-col-3 align-center sc-divider">
            <i class="sc-text-xl sc-icon sc-icon-homem-1"></i>
          </div>
          <div class="sc-accordion-elastic-col title">
            <span class="sc-p-xs flex">{{pessoa.nome}}</span>
          </div>
          <!-- Mais opções -->
          <span class="sc-dropdown pull-right" sc-dropdown-menu="" sc-stop-click="">
            <i class="sc-icon-reticiencias-v sc-badge-hover-gray"
              ng-class="{'sc-badge-hover-white': pessoa.acc.opened, 'sc-badge-active': menu.opened}"
              ng-click="menu.toggle()">
            </i>
            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
              <li>
                <a sc-dropdown-close-menu=""
                  ng-click="itemCtrl.formCtrl.open(pessoa); idxCtrl.formFactory.init(pessoa)">
                  <i class="sc-icon-lapis"></i> Editar
                </a>
              </li>
              <li>
                <a sc-dropdown-close-menu="">
                  <i class="sc-icon-lixeira-1"></i> Excluir
                </a>
              </li>
              <li>
                <a sc-dropdown-close-menu="">
                  <i class="sc-icon-historico"></i> Histórico
                </a>
              </li>
            </ul>
          </span>

        </div>

        <div ng-include="'form.html'" ng-controller="formularioCtrl as formCtrl"
          ng-if="pessoa.acc.opened && itemCtrl.formCtrl.opened && pessoa.editing"
          ng-init="idxCtrl.formFactory.init(pessoa)">
        </div>
        <div ng-include="'show.html'" ng-if="pessoa.acc.opened && !pessoa.editing"></div>
        <div class="clear"></div>
      </li>
    </ul>
  </section>

  <script type="text/javascript" src="./js/prototype.js"></script>
  <script type="text/javascript" src="./js/indexCtrl.js"></script>
  <script type="text/javascript" src="./js/formCtrl.js"></script>
  <script type="text/javascript" src="./js/showCtrl.js"></script>
  <script type="text/javascript" src="./js/form_factory.js"></script>
</body>
</html>
