<!DOCTYPE html>
<html>
<head>
  <title>Pessoas - Financeiro </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/prototype.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/uikit.css" />
  <link rel="stylesheet" type="text/css" href="./css/uikit-sample.css" />
  <script type="text/javascript" src="js/modernizr.js"> </script>
  <script type="text/javascript" scr="./node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="pagadoresFinanc" ng-controller="PessoasIndexCtrl as pessoasCtrl" class="sc-system">

  <header class="flex align-items-center" style="background-color: #004565; height: 54px;">
    <div style="height: 42px;">
      <img height="100%" class="sc-border-radius"
        src="https://www.seucondominio.com.br/assets/responsivo/logo-seucondominio-d27c9e579e5286867bca8a6707f5f9af96addd5d7b62d47c0d0f8685979e6b0d.svg">
    </div>
  </header>

  <section id="top-bar" style="height: 52px;">
    <div id="top-bar-content">
      <div ng-include="'top_bar_content.html'"></div>
    </div>
  </section>

  <section id="breadcrumb">
    <a ng-href="/dashboard" href="/dashboard">Início</a>
     / Financeiro / Cadastro de Pessoas
   </section>

  <section id="pessoas">
    <ul class="sc-accordion">
      <li class="sc-acc-blue ng-animation-slider sc-bg-gray-lighter"
        ng-class="{'sc-acc-opened sc-acc-blue' : pessoa.opened}"
        style="display: block;"
        ng-if="pessoasCtrl.formCadastro.opened"
        ng-controller="formularioCtrl as formCtrl">
        <div class="sc-accordion-head sc-text-blue" ng-click="pessoasCtrl.formCadastro.close()">
          <div class="sc-accordion-col-3 align-center">
            <i class="sc-text-xl sc-icon-mais-1"></i>
          </div>
          <div class="sc-accordion-elastic-col title">
            <div class="sc-p-xs">Nova Pessoa</div>
          </div>
        </div>
        <div ng-include="'form.html'"></div>
      </li>
      <li ng-repeat="pessoa in pessoasCtrl.listaPessoas | filter:pessoasCtrl.listar as results track by pessoa.id"
        class="sc-bg-gray-lighter"
        ng-class="{'sc-acc-blue' : pessoa.opened}">
        <div ng-click="pessoa.opened = !pessoa.opened" class="sc-accordion-head sc-text-blue sc-acc-hover-blue">
          <div class="sc-accordion-col-3 align-center sc-divider">
            <i class="sc-text-xl sc-icon sc-icon-homem-1"></i>
          </div>
          <div class="sc-accordion-elastic-col title">
            <span class="sc-p-xs flex">{{pessoa.nome}}</span>
          </div>
          <!-- Mais opções -->
          <span class="sc-dropdown pull-right" sc-dropdown-menu="" sc-stop-click="">
            <i class="sc-icon-reticiencias-v sc-badge-hover-gray"
              ng-class="{'sc-badge-hover-white': pessoa.opened, 'sc-badge-active': menu.opened}"
              ng-click="menu.toggle()">
            </i>
            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
              <li>
                <a sc-dropdown-close-menu=""
                  ng-click="pessoasCtrl.exibirForm = true">
                  <i class="sc-icon-lapis"></i> Editar
                </a>
              </li>
              <li>
                <a sc-dropdown-close-menu="">
                  <i class="sc-icon-lixeira-1"></i> Excluir
                </a>
              </li>
              <li>
                <a sc-dropdown-close-menu="">
                  <i class="sc-icon-historico"></i> Histórico
                </a>
              </li>
            </ul>
          </span>

        </div>
        <div ng-show="pessoa.opened" class="sc-accordion-body ng-animation-slider" style="display: block;">
          <div class="sc-p-lg">
            <div class="col-xs-12 col-md-6">
              <div class="sc-accordion-element sc-fieldset sc-bg-white">
                <div class="sc-fieldset-head">
                  <span class="sc-p-b-md sc-text-blue sc-text-bold">{{pessoa.nome}}</span>
                </div>
                <div class="sc-text-gray">
                  <div class="sc-p-xs">
                    <i class="sc-p-r-md left sc-icon-homem-1"></i><div>{{pessoa.cpf}}</div>
                  </div>
                  <div class="sc-p-xs">
                    <i class="sc-p-r-md left sc-icon-calendario-2"></i><div>{{pessoa.nascimento}}</div>
                  </div>
                  <div class="sc-p-xs">
                    <i class="sc-p-r-md left sc-icon-telefone-1"></i><div>{{pessoa.telefone}}</div>
                  </div>
                  <div class="sc-p-xs">
                    <i class="sc-p-r-md left sc-icon-carta-2"></i><div>{{pessoa.email}}</div>
                  </div>
                  <div class="sc-p-xs">
                    <i class="sc-p-r-md left sc-icon-local"></i><div>{{pessoa.endereco.logradouro}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="sc-accordion-element sc-fieldset sc-bg-white">
                <div class="sc-fieldset-head">
                  <span class="sc-p-b-md sc-text-blue sc-text-bold">Anexos</span>
                </div>
                <div class="sc-text-thin sc-p-md sc-p-b-xxxl sc-p-t-xs sc-text-lg align-center sc-text-blue">
                  Nenhum anexo disponível!
                </div>

              </div>
            </div>


          </div>
          <div class="clear"></div>
        </div>
      </li>
    </ul>
  </section>

  <script type="text/javascript" src="./js/prototype.js"></script>
  <script type="text/javascript" src="indexCtrl.js"></script>
  <script type="text/javascript" src="formCtrl.js"></script>
</body>
</html>
