<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Pessoas - Financeiro </title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "pagadores" %>
  <link rel="stylesheet" href >
  <link rel="shortcut icon" href="https://www.seucondominio.com.br/favicon.ico" >
  <!-- <link rel="stylesheet" type="text/css" href="../assets/stylesheets/prototype.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/uikit.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/uikit-sample.css" />
  <script type="text/javascript" src="../assets/javascripts/modernizr.js"> </script>
  <script type="text/javascript" scr="../assets/javascripts/angular/angular.min.js"></script> -->
</head>
<body ng-app="pagadoresFinanc" ng-controller="PessoasCtrl as PessoasCtrl" ng-init="PessoasCtrl.init()" style="background-color: #fff ">
  <header class="flex align-items-center" style="background-color: #004565; height: 54px;">
    <div style="height: 42px;">
      <img height="100%" class="sc-border-radius"
        src="https://www.seucondominio.com.br/assets/responsivo/logo-seucondominio-d27c9e579e5286867bca8a6707f5f9af96addd5d7b62d47c0d0f8685979e6b0d.svg">
    </div>
  </header>

  <section id="top-bar" class="sc-bg-gray-lighter" style="height: 52px;">
    <div id="top-bar-content">
      <div ng-include="'top_bar_content.html'"></div>
    </div>
  </section>

  <section id="breadcrumb">
    <a ng-href="/dashboard" href="/dashboard">Início</a>
     / Financeiro / Cadastro de Pessoas
  </section>

  <section id="pessoas">
    <div ng-include="'pagadores/index.html'"></div>
  </section>

  <!-- Alertas -->

  <div class="sc-alert" ng-show="scAlert.toggler.opened" ng-class="{'active': scAlert.toggler.opened, 'sc-alert-danger': scAlert.danger, 'sc-alert-warning': scAlert.warning}" style="">
    <div class="sc-alert-box sc-box-shadow-z3">
      <div class="sc-alert-close" ng-hide="scAlert.hideCloseButton">
        <i ng-click="scAlert.close()" class="sc-badge-hover-red sc-icon-fechar-1 sc-cursor-pointer"></i>
      </div>
      <h2 class="sc-alert-title" ng-bind-html="scAlert.title"></h2> <!-- TÍTULO DO ALERT -->
      <div class="sc-alert-messages align-center">
        <p ng-bind-html="scAlert.messages"></p> <!-- MENSAGEM DO ALERT -->
      </div>
      <div class="sc-alert-buttons">
        <div ng-repeat="btn in scAlert.buttons" style="display: inline;">
          <button ng-if="!(btn.url || btn.href)" type="button"
            class="sc-btn sc-btn-{{btn.color}} sc-btn-block-only-xs sc-alert-button-focus"
            ng-click="scAlert.btnAction(btn)" ng-bind="btn.label">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sc-top-messages ng-animation-slider" ng-class="scTopMessages.theme"
    ng-click="scTopMessages.close()" ng-if="scTopMessages.toggler.opened" style="display: block;">
    <div class="sc-text-white align-center sc-text-shadow-dark flex align-items-center">
      <div class="sc-top-messages-msgs sc-cursor-default">
        <p ng-repeat="msg in scTopMessages.messages track by $index" ng-bind="scTopMessages.messages"></p>
      </div>
      <div class="sc-top-messages-close-button">
        <i class="sc-icon-fechar-1 sc-cursor-pointer"></i>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'pagadores' %>

  <!-- <script type="text/javascript" src="./assets/javascripts/prototype.js"></script>
  <script type="text/javascript" src="./assets/javascripts/indexCtrl.js"></script>
  <script type="text/javascript" src="./assets/javascripts/formCtrl.js"></script>
  <script type="text/javascript" src="./assets/javascripts/showCtrl.js"></script>
  <script type="text/javascript" src="./assets/javascripts/form_factory.js"></script> -->
</body>
</html>
