<!DOCTYPE html>
<html lang="pt-br" ng-app="pagadoresApp">
  <head>
    <title>Pessoas - Financeiro </title>
    <meta charset="UTF-8">


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <div ng-view=""></div>
    <!-- Alertas -->

    <div class="sc-alert" ng-show="scAlert.toggler.opened" ng-class="{'active': scAlert.toggler.opened, 'sc-alert-danger': scAlert.danger, 'sc-alert-warning': scAlert.warning}" style="">
      <div class="sc-alert-box sc-box-shadow-z3">
        <div class="sc-alert-close" ng-hide="scAlert.hideCloseButton">
          <i ng-click="scAlert.close()" class="sc-badge-hover-red sc-icon-fechar-1 sc-cursor-pointer"></i>
        </div>
        <h2 class="sc-alert-title" ng-bind-html="scAlert.title"></h2> <!-- TÃTULO DO ALERT -->
        <div class="sc-alert-messages align-center">
          <p ng-bind-html="scAlert.messages"></p> <!-- MENSAGEM DO ALERT -->
        </div>
        <div class="sc-alert-buttons">
          <div ng-repeat="btn in scAlert.buttons" style="display: inline;">
            <button ng-if="!(btn.url || btn.href)" type="button"
              class="sc-btn sc-btn-{{btn.color}} sc-btn-block-only-xs sc-alert-button-focus"
              ng-click="scAlert.btnAction(btn)" ng-bind="btn.label">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="sc-top-messages ng-animation-slider" ng-class="scTopMessages.theme"
      ng-click="scTopMessages.close()" ng-if="scTopMessages.toggler.opened" style="display: block;">
      <div class="sc-text-white align-center sc-text-shadow-dark flex align-items-center">
        <div class="sc-top-messages-msgs sc-cursor-default">
          <p ng-repeat="msg in scTopMessages.messages track by $index" ng-bind="scTopMessages.messages"></p>
        </div>
        <div class="sc-top-messages-close-button">
          <i class="sc-icon-fechar-1 sc-cursor-pointer"></i>
        </div>
      </div>
    </div>

  </body>
  <%= javascript_include_tag 'application' %>
</html>