<div ng-init="PassagensFormCtrl.init(baseFact)">

  <form class="sc-m-h-md sc-p-t-sm flex-row" ng-submit="PassagensFormCtrl.formCadastro.save(baseFact)">
    <div class="sc-fieldset flex-row fcol-xs-100">
      <!-- Aviso de segurança -->
      <div class="fcol-xs-100 sc-bg-yellow-lighter">
        <div class="sc-text-red">
          <i class="sc-icon sc-icon-exclamacao-3 sc-m-h-sm"></i>
          <span class="sc-text-bold">Importante!</span>
        </div>
        <div class="sc-text-blue sc-label sc-m-l-md sc-p-t-xs">
          A passagem será realizada automaticamente caso sejam preenchidos os
          dados de quem está ENTRANDO (preencher só quem sai habilita a edição
          do registro até que a passagem seja realizada).
        </div>
        <div class="sc-text-blue sc-label sc-m-l-md sc-p-t-xs" ng-if="config.deslogar">
          Ao passar o serviço, o porteiro atual (que cadastrou e passou o serviço)
          será deslogado automaticamente do sistema
        </div>
      </div>

      <div class="fcol-xs-90 fcol-sm-50 fcol-md-25">
       <div class="sc-label">Quem sai</div>
        <span sc-dropdown-menu="" class="sc-dropdown">
          <div class="sc-input-group">
            <input ng-model="baseFact.params.user_saiu.nome" ng-click="PassagensFormCtrl.formUser.toggleUserSai()"
              class="sc-input-group sc-input-default sc-input-block" placeholder="Digte uma pessoa">
            <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
          </div>
          <ul class="sc-dropdown-menu ng-animation-slider" ng-show="PassagensFormCtrl.menu_quem_sai.isOn">
            <div class="sc-scrollbar" style="max-height: 15em; overflow: auto;">
              <li ng-click="PassagensFormCtrl.formUser.setUserSai(baseFact, user)"
                ng-repeat="user in PassagensFormCtrl.indexFactory.settings.usuarios">
                <span>{{user.nome}}</span>
              </li>
            </div>
          </ul>
        </span>
      </div>

      <div class="fcol-xs-90 fcol-sm-50 fcol-md-25">
        <div class="sc-label">Senha:</div>
        <input class="sc-input-default sc-input-block" type="text" ng-model="baseFact.params.senha_quem_sai">
      </div>

      <div class="fcol-xs-90 fcol-sm-50 fcol-md-25">
       <div class="sc-label">Quem entra</div>
        <span sc-dropdown-menu="" class="sc-dropdown">
          <div class="sc-input-group">
            <input ng-model="baseFact.params.user_entrou.nome" ng-click="PassagensFormCtrl.formUser.toggleUserEntra()"
              class="sc-input-group sc-input-default sc-input-block" placeholder="Digte uma pessoa">
            <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
          </div>
          <ul class="sc-dropdown-menu ng-animation-slider" ng-show="PassagensFormCtrl.menu_quem_entra.isOn">
            <div class="sc-scrollbar" style="max-height: 15em; overflow: auto;">
              <li ng-click="PassagensFormCtrl.formUser.setUserEntra(baseFact, user)"
                ng-repeat="user in PassagensFormCtrl.indexFactory.settings.usuarios">
                <span>{{user.nome}}</span>
              </li>
            </div>
          </ul>
        </span>
      </div>

      <div class="fcol-xs-90 fcol-sm-50 fcol-md-25">
        <div class="sc-label">Senha:</div>
        <input class="sc-input-default sc-input-block" type="text" ng-model="baseFact.params.senha_quem_entra">
      </div>

      <div class="clear sc-p-o"></div>

    </div>
    <!-- Objetos -->
    <div class="fcol-xs-100">
      <div ng-include="PassagensCtrl.templates.passagens.form_objetos"></div>
    </div>

    <div class="sc-fieldset flex-row fcol-xs-100 clear">
      <div class="sc-label sc-p-b-xs clear">Observações:</div>
      <div class="fcol-xs-100 sc-p-t-o">
        <textarea ng-model="baseFact.params.observacoes" class="sc-input-default sc-input-block fcol-xs-100"></textarea>
      </div>
    </div>

    <div class="fcol-xs-100 align-right">
      <button class="sc-btn sc-btn-blue sc-btn-block-only-xs sc-m-r-lg" type="submit">
        Salvar
      </button>
      <button class="sc-btn sc-btn-red sc-btn-block-only-xs" type="button"
        ng-click="baseFact.close()">
        Cancelar
      </button>
    </div>

  </form>
</div>
