<div ng-show="listObj.categoria.active">
  <div class="sc-input-group">
    <input class="sc-input-default sc-input-block" type="text"
      ng-model="PassagensFormCtrl.params.categoria.nome">
    <button class="sc-btn sc-btn-red sc-icon sc-icon-fechar-1"
      ng-click="listObj.categoria.active = false" type="button">
    </button>
    <button class="sc-btn sc-btn-green sc-icon sc-icon-visto-1" type="button"
      ng-click="PassagensFormCtrl.formCategoria.saveCategoria(PassagensFormCtrl.params.categoria)"></button>
  </div>
</div>

<div class="sc-input-group" ng-show="!listObj.categoria.active">
  <select class="sc-input-default sc-input-block"
    ng-options="categoria.id as categoria.nome for categoria in PassagensFormCtrl.indexFactory.settings.lista_categorias"
    ng-model="listObj.categoria.id" ng-change="PassagensFormCtrl.formCategoria.set(listObj)">
    <option value selected="selected">Selecione</option>
  </select>
  <span class="sc-dropdown pull-right">
    <div>
      <i class="sc-icon-reticiencias-v sc-btn" style="border-radius: 0px 0.3em 0.3em 0px;"
        ng-click="menu_categoria.isOn = !menu_categoria.isOn"
        ng-class="{'sc-btn-gray':menu_categoria.isOn}">
      </i>
    </div>
    <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu_categoria.isOn">
      <li>
        <a ng-click="PassagensFormCtrl.formCategoria.novaCategoria()">
          <i class="sc-icon sc-icon-mais-1 sc-text-green"></i>
          Nova Categoria
        </a>
      </li>
      <li ng-if="listObj.categoria.id">
        <a ng-click="listObj.categoria.active = true">
          <i class="sc-icon sc-icon-lapis sc-text-yellow"></i>
          Editar
        </a>
      </li>
      <li ng-if="listObj.categoria.id">
        <a ng-click="PassagensFormCtrl.formCategoria.alertExcluirRegistro(PassagensFormCtrl.params.categoria)">
          <i class="sc-icon sc-icon-lixeira-1 sc-text-red"></i>
          Excluir
        </a>
      </li>
    </ul>
  </span>

</div>
