<div class="sc-fieldset flex-row fcol-xs-100">
  <div class="sc-fieldset-head fcol-xs-100">
    <div class="flex-row">
      <div class="sc-label sc-text-lg">Objetos</div>
      <div class="sc-tooltip-lg sc-text-normal sc-tooltip-top-right align-self-center sc-m-h-md"
        sc-tooltip="Adicione aqui um objeto, acontecimento ou outros para a lista de controle abaixo">
        <i class="sc-icon sc-icon-duvida-2 sc-text-blue"></i>
      </div>
      <button class="sc-btn sc-btn-green sc-btn-sm sc-btn-thin sc-m-h-xl" type="button">
        <span>Adicionar</span>
      </button>
      <button class="sc-btn sc-btn-red sc-btn-sm sc-btn-thin sc-m-h-xl" type="button">
        <span>Limpar formulário</span>
      </button>
    </div>
  </div>

  <ul class="fcol-xs-100">
    <li>
      <div class="sc-fieldset" ng-class="{'sc-opac-40': obj._destroy}">
        <div class="sc-fieldset-head flex-row sc-text-sm">
          <div class="fcol-xs-100 fcol-sm-50 fcol-md-30 sc-text-sm sc-p-h-o sc-m-r-lg">
            <div class="sc-label">Categoria:</div>
            <div class="sc-input-group">
              <select class="sc-input-default sc-input-block">
                <option value selected="selected">Selecione</option>
              </select>
              <span class="sc-dropdown pull-right">
                <div>
                  <i class="sc-icon-reticiencias-v sc-btn" style="border-radius: 0px 0.3em 0.3em 0px;"
                    ng-click="menu_categoria.isOn = !menu_categoria.isOn"
                    ng-class="{'sc-btn-gray':menu_categoria.isOn}">
                  </i>
                </div>
                <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu_categoria.isOn">
                  <li>
                    <a>
                      <i class="sc-icon sc-icon-mais-1 sc-text-green"></i>
                      Nova Categoria
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="sc-icon sc-icon-lapis sc-text-yellow"></i>
                      Editar
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="sc-icon sc-icon-lixeira-1 sc-text-red"></i>
                      Excluir
                    </a>
                  </li>
                </ul>
              </span>

            </div>
          </div>
          <div class="align-self-flex-end">
            <button class="sc-btn sc-btn-thin sc-btn-green sc-m-r-lg sc-btn-sm" type="button">
              <i class="sc-icon sc-icon-mais-1 sc-m-r-sm"></i>
              Item
            </button>
            <i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red sc-text-sm"></i>
          </div>
        </div>
        <ul class="sc-p-b-xs">
          <li class="flex-row sc-p-b-sm">
            <div class="fcol-xs-3em sc-m-l-xs align-self-center">
              <input class="sc-checkbox sc-checkbox-green" type="checkbox">
            </div>
          </li>
          <li class="flex-row sc-p-b-md">
            <div class="fcol-xs-3em align-self-center sc-m-l-sm" style="top: 8px">
              <div class="sc-label">
                <input class="sc-checkbox sc-checkbox-green" type="checkbox">
              </div>
            </div>
            <div class="fcol-sm-auto fcol-md-70">
              <div class="sc-label">Item</div>
              <input class="sc-input-default sc-input-block sc-input-thin" type="text"
                placeholder="Descreva o item aqui"
              >
            </div>
            <div class="fcol-xs-5em sc-m-l-xl">
              <div class="sc-label">Qtd.</div>
              <input class="sc-input-default sc-input-block sc-input-thin align-right" type="number">
            </div>
            <div class="fcol-xs-auto hidden-sm hidden-xs"></div>
            <div class="fcol-xs-3em align-self-center">
              <div class="align-right">
                <i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red fcol-xs-3em"></i>
              </div>
            </div>
          </li>

        </ul>

      </div>
    </li>
  </ul>
</div>
