<div ng-controller="PassagensCtrl as PassagensCtrl" ng-init="PassagensCtrl.init()" style="background-color: #fff ">
  <header class="flex align-items-center" style="background-color: #004565; height: 54px;">
    <div style="height: 42px;">
      <img height="100%" class="sc-border-radius"
      src="https://www.seucondominio.com.br/assets/responsivo/logo-seucondominio-d27c9e579e5286867bca8a6707f5f9af96addd5d7b62d47c0d0f8685979e6b0d.svg">
    </div>
  </header>

  <section id="top-bar" class="sc-bg-gray-lighter" style="height: 52px;">
    <div id="top-bar-content">
      <div ng-include="PassagensCtrl.templates.passagens.top_bar"></div>
    </div>
  </section>

  <section id="breadcrumb">
    <a ng-href="/dashboard" href="/dashboard">Início</a>
    / Administrativo / Passagens de Serviços
  </section>

  <section id="passagens">
    <ul class="sc-accordion">

      <!-- FORM DE NOVA PESSOA -->
      <li ng-if="asdadas" class="sc-acc-blue">
        <div class="sc-accordion-head flex-row" ng-click="">
          <div class="fcol-xs-2em">
            <i class="sc-icon sc-icon-mais-1 sc-text-white"></i>
          </div>
          <div class="sc-text-white sc-text-bold">Nova Passagem</div>
        </div>
        <div class="sc-accordion-body">
          <div ng-include="PassagensCtrl.templates.passagens.form"></div>
        </div>
      </li>

      <!-- LABEL DOS ACCORDIONS -->
      <li>
        <div class="sc-p-t-xl sc-bg-white">
          <div class="flex-row flex-column align-items-center sc-text-blue" style="min-height: 2.5em;">
            <div class="fcol-order-0 align-center fcol-sm-3em">
              <input class="sc-checkbox sc-checkbox-blue" type="checkbox">
            </div>
            <div class="fcol-xs-7em hidden-xs align-center sc-p-sm sc-cursor-pointer">
              <i class="sc-m-r-sm sc-icon-seta-5-baixo"></i>
              <span class="sc-ellipsis-inline">Status</span>
            </div>
            <div class="fcol-xs-auto fcol-order-1 sc-p-sm">
              <span class="sc-ellipsis-inline">Saiu</span>
            </div>
            <div class="fcol-xs-auto fcol-order-2 sc-p-sm">
              <span class="sc-ellipsis-inline">Entrou</span>
            </div>
            <div class="fcol-xs-7em fcol-order-3 align-center sc-p-sm sc-cursor-pointer">
              <i class="sc-m-r-sm sc-icon-seta-5-baixo"></i>
              <span class="sc-ellipsis-inline">Criada em</span>
            </div>
            <div class="fcol-xs-7em sc-p-md visible-xs fcol-order-4"></div>
            <div class="fcol-xs-3em sc-p-md fcol-order-5"></div>
          </div>
        </div>
      </li>

      <li class="sc-accordion-head" ng-class="{'sc-acc-blue': passagem.acc.oppened}">
        <div class="flex-row flex-column sc-accordion-head sc-text-gray">

          <div class="fcol-xs-3em align-center fcol-order-0" sc-stop-click>
            <input class="sc-checkbox sc-checkbox-blue" type="checkbox">
          </div>

          <div class="fcol-xs-7em hidden-xs align-center sc-p-sm">
            <span class="sc-border-radius sc-text-white sc-p-v-xs sc-p-h-lg sc-text-sm sc-bg-yellow">Pendente</span>
          </div>

          <div class="fcol-xs-auto fcol-order-1 sc-p-sm">
            <i class="sc-icon sc-icon-seta-8-baixo sc-text-red hidden-xs sc-p-r-md"
              ng-class="{'sc-text-white': itemCtrl.formFact.opened || passagem.acc.opened }">
            </i>
            <span class="sc-ellipsis"> Igor Santos e Silva</span>
          </div>

          <div class="fcol-xs-auto fcol-order-2 sc-p-sm">
            <i class="sc-icon sc-icon-seta-8-cima sc-text-green hidden-xs sc-p-r-md"
              ng-class="{'sc-text-white': itemCtrl.formFact.opened || passagem.acc.opened }">
            </i>
          </div>

          <div class="fcol-xs-7em fcol-order-3 sc-p-sm"
            ng-class="{'sc-text-white': itemCtrl.formFact.opened || passagem.acc.opened }">
            23/04/2021
          </div>

          <div class="fcol-xs-7em fcol-order-4 visible-xs sc-p-sm"></div>

          <div class="fcol-xs-3em align-center sc-p-sm fcol-order-5" sc-stop-click>
            <span class="sc-dropdown ng-scope" sc-dropdown-menu>

            </span>

          </div>

        </div>
      </li>

      <!-- SHOW -->
      <li ng-if="bbbbb">
        <div ng-include="PassagensCtrl.templates.passagens.show"></div>
      </li>
    </ul>
  </section>
</div>
