<div ng-controller="PassagensCtrl as PassagensCtrl" ng-init="PassagensCtrl.init()" style="background-color: #fff ">
  <header class="flex align-items-center" style="background-color: #004565; height: 54px;">
    <div style="height: 42px;">
      <img height="100%" class="sc-border-radius"
      src="https://www.seucondominio.com.br/assets/responsivo/logo-seucondominio-d27c9e579e5286867bca8a6707f5f9af96addd5d7b62d47c0d0f8685979e6b0d.svg">
    </div>
  </header>

  <section id="top-bar" class="sc-bg-gray-lighter" style="height: 52px;">
    <div id="top-bar-content">
      <div ng-include="PassagensCtrl.templates.passagens.top_bar"></div>
    </div>
  </section>

  <section id="breadcrumb">
    <a ng-href="/dashboard" href="/dashboard">Início</a>
    / Administrativo / Passagens de Serviços
  </section>


  <section id="passagens">
    <ul class="sc-accordion">

      <!-- FORM DE NOVA PASSAGEM -->
      <li ng-if="PassagensCtrl.formFactory.new_record" class="sc-acc-blue" ng-controller="PassagensFormCtrl as PassagensFormCtrl">
        <div class="sc-accordion-head flex-row" ng-click="PassagensCtrl.formFactory.close()">
          <div class="fcol-xs-2em">
            <i class="sc-icon sc-icon-mais-1"></i>
          </div>
          <div class="sc-text-bold">Nova Passagem</div>
        </div>
        <div class="sc-accordion-body">
          <div ng-include="PassagensCtrl.templates.passagens.form" ng-init="baseFact = PassagensCtrl.formFactory"></div>
        </div>
      </li>

      <!-- LABEL DOS ACCORDIONS -->
      <li>
        <div class="sc-p-t-xl sc-bg-white">
          <div class="flex-row flex-column align-items-center sc-text-blue" style="min-height: 2.5em;">
            <div class="fcol-order-0 align-center fcol-sm-3em">
              <input class="sc-checkbox sc-checkbox-blue" type="checkbox">
            </div>
            <div class="fcol-xs-7em hidden-xs align-center sc-p-sm sc-cursor-pointer">
              <span class="sc-ellipsis-inline">Status</span>
            </div>
            <div class="fcol-xs-auto fcol-order-1 sc-p-sm">
              <span class="sc-ellipsis-inline">Saiu</span>
            </div>
            <div class="fcol-xs-auto fcol-order-2 sc-p-sm">
              <span class="sc-ellipsis-inline">Entrou</span>
            </div>
            <div class="fcol-xs-7em fcol-order-3 align-center sc-p-sm sc-cursor-pointer">
              <span class="sc-ellipsis-inline">Criada em</span>
            </div>
            <div class="fcol-xs-7em sc-p-md visible-xs fcol-order-4"></div>
            <div class="fcol-xs-3em sc-p-md fcol-order-5"></div>
          </div>
        </div>
      </li>

      <li class="sc-accordion-head" ng-class="{'sc-acc-blue': passagem.opened}"
        ng-repeat="passagem in PassagensCtrl.listCtrl.list track by passagem.id"
        ng-controller="PassagemCtrl as PassagemCtrl"
        ng-init="PassagemCtrl.init(passagem)">
        <div class="flex-row flex-column sc-accordion-head sc-text-gray"
          ng-click="PassagemCtrl.accToggle(passagem)">

          <div class="fcol-xs-3em align-center fcol-order-0" sc-stop-click="">
            <input class="sc-checkbox sc-checkbox-blue" type="checkbox">
          </div>

          <div class="fcol-xs-7em hidden-xs align-center sc-p-sm">
            <span class="sc-border-radius sc-text-white sc-p-v-xs sc-p-h-lg sc-text-sm"
              ng-class="{'sc-bg-yellow': passagem.status.includes('Pendente'),
              'sc-bg-green': passagem.status.includes('Relizada') }">
              {{passagem.status}}
            </span>
          </div>

          <div class="fcol-xs-auto fcol-order-1 sc-p-sm">
            <i class="sc-icon sc-icon-seta-8-baixo sc-text-red hidden-xs sc-p-r-md"
              ng-class="{'sc-text-white': passagem.opened }">
            </i>
            <span class="sc-ellipsis"> {{passagem.user_saiu.nome}}</span>
          </div>

          <div class="fcol-xs-auto fcol-order-2 sc-p-sm">
            <i class="sc-icon sc-icon-seta-8-cima sc-text-green hidden-xs sc-p-r-md"
              ng-class="{'sc-text-white': passagem.opened }">
            </i>
            <span class="sc-ellipsis"> {{passagem.user_entrou.nome}}</span>
          </div>

          <div class="fcol-xs-7em fcol-order-3 sc-p-sm"
            ng-class="{'sc-text-white': passagem.opened }">
            {{passagem.criado_em | date:"dd/MM/yyyy"}}
          </div>



          <div class="fcol-xs-3em align-center sc-p-sm fcol-order-5" sc-stop-click="">
            <span class="sc-dropdown" sc-dropdown-menu="">
              <div>
                <i class="sc-icon sc-icon-reticiencias-v sc-badge-hover-gray"
                  ng-class="{'sc-text-white sc-badge-hover-white': passagem.opened}"
                  ng-click="PassagemCtrl.menuReticiencias.toggle(passagem)">
                </i>
                <ul class="sc-dropdown-menu ng-animation-slider pull-right" ng-show="passagem.menuReticiencias">
                  <li sc-dropdown-close-menu="" ng-click="PassagensCtrl.passarServico(passagem)">
                    <span>
                      <i class="sc-icon-seta-6-direita-esquerda"></i> Passar serviço
                    </span>
                  </li>
                  <li sc-dropdown-close-menu="" ng-click="PassagemCtrl.formCtrl.open(passagem)">
                    <span>
                      <i class="sc-icon-lapis"></i> Editar
                    </span>
                  </li>
                  <li sc-dropdown-close-menu="" ng-click="PassagensCtrl.listCtrl.duplicarRegistro(passagem)">
                    <span>
                      <i class="sc-icon sc-icon-mais-4"></i> Duplicar
                    </span>
                  </li>
                  <li sc-dropdown-close-menu="">
                    <span>
                      <i class="sc-icon-banir"></i> Desativar
                    </span>
                  </li>
                  <li sc-dropdown-close-menu="" ng-click="PassagensCtrl.listCtrl.beforeExcluirRegistro(passagem)">
                    <span>
                      <i class="sc-icon-lixeira-1"></i> Excluir
                    </span>
                  </li>
                </ul>
              </div>
            </span>
          </div>
        </div>

        <div ng-if="passagem.opened">
          <!-- SHOW -->
          <div ng-if="!passagem.editing">
            <div ng-include="PassagensCtrl.templates.passagens.show"></div>
          </div>
          <!-- EDIÇÃO -->
          <div ng-if="passagem.editing" ng-controller="PassagensFormCtrl as PassagensFormCtrl">
            <div ng-include="PassagensCtrl.templates.passagens.form"
              ng-init="passagem.formFactory.init(passagem); baseFact = passagem.formFactory">
            </div>
          </div>
        </div>
        <div ng-if="passagem.passar_servico_modal.active">
          <div ng-include="PassagensCtrl.templates.passagens.passar_servico_modal"></div>
        </div>

      </li>
    </ul>
  </section>
</div>
