<div class="flex-row sc-p-md">
  <div class="sc-p-r-xl left">
    <button class="sc-btn sc-btn-green" type="button" ng-click="PassagensCtrl.formFactory.init(passagem = {})">
      <span>Nova Passagem</span>
    </button>
  </div>

  <div class="fcol-xs-70 fcol-sm-60 fcol-lg-45 sc-p-h-lg">
    <form class="sc-input-group" ng-submit="PassagensCtrl.filtro.exec('simples')">
      <input class="sc-input-default" type="text"
        placeholder="Nome, e-mail, data (de criação), etc" ng-model="PassagensCtrl.filtro.params.q"
        ng-disabled="PassagensCtrl.filtro.avancado">

      <button class="sc-btn sc-btn-red" ng-if="PassagensCtrl.filtro.params.q"
        ng-click="PassagensCtrl.filtro.limpar()" type="button">
        <i class="sc-icon-fechar-1"></i>
      </button>

      <button class="sc-btn sc-btn-blue" type="submit">
        <i class="sc-icon-lupa-2"></i>
      </button>
      <button class="sc-btn"
        ng-class="{'sc-btn-gray': PassagensCtrl.filtro.avancado}" type="button"
        ng-click="PassagensCtrl.filtro.avancado = !PassagensCtrl.filtro.avancado">
        <i class="sc-icon-filtro-2"></i>
      </button>
      <button class="sc-btn" type="button">
        <i class="sc-icon-impressora"></i>
      </button>
    </form>
  </div>

  <div class="fcol-xs-auto"></div>

  <button class="sc-btn right">
    <i class="sc-icon-reticiencias-v"></i>
  </button>
</div>

<div id="top-bar-filter" class="flex-row sc-p-h-lg" style="z-index: 10;">
  <div class="sc-bg-gray-lighter sc-border-h-solid sc-border-gray-light sc-box-shadow-z4 sc-p-lg"
    style="width: 100%" ng-show="PassagensCtrl.filtro.avancado">
    <form ng-submit="PassagensCtrl.filtro.exec('avancado')">

      <div class="col-xs-12 col-sm-6 col-md-3 sc-m-b-md">
        <div sc-dropdown-menu="">
          <div class="sc-label">Pessoas:</div>
            <div class="sc-dropdown sc-input-group">
              <input ng-model="PassagensCtrl.filtro.params.user_nome"
                ng-click="PassagensCtrl.microUpdateCtrl.toggleUserSai()"
                class="sc-input-default sc-input-block" placeholder="Digte uma pessoa">
              <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
              <div class="sc-btn sc-relative"><i class="sc-icon-visto-1"></i></div>
            </div>
            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="PassagensCtrl.menu_quem_sai.isOn">
              <div class="sc-scrollbar">
                <li ng-click="PassagensCtrl.filtro.setUserFiltro(user)"
                  ng-repeat="user in PassagensCtrl.indexFactory.settings.usuarios">
                  <span>{{user.nome}}</span>
                </li>
              </div>
            </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 sc-m-b-md">
        <label class="sc-label">E-mail:</label>
        <input class="sc-input-default sc-input-block" type="text"
          ng-model="PassagensCtrl.filtro.params.email" placeholder="Pesquise por um e-mail">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 sc-m-b-md">
        <label class="sc-label">Inicío:</label>
        <input class="sc-input-default sc-input-block" type="date" max="3000-12-31"
          ng-model="PassagensCtrl.filtro.params.data_inicio">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 sc-m-b-md">
        <label class="sc-label">Fim:</label>
        <input class="sc-input-default sc-input-block" type="date" max="3000-12-31"
          ng-model="PassagensCtrl.filtro.params.data_fim">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 sc-m-b-md">
        <label class="sc-label">Tipo de data:</label>
        <select class="sc-input-default sc-input-block"
          ng-model="PassagensCtrl.filtro.params.tipo_data"
          ng-options="tipoData.key as tipoData.label for tipoData in PassagensCtrl.settings.lista_tipo_data">
        </select>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 sc-m-b-md">
        <div class="sc-label">Status</div>
        <div class="sc-dropdown" sc-dropdown-menu="">
          <button type="button" class="sc-btn sc-btn-blue" ng-click="menu_opcoes.isOn = !menu_opcoes.isOn"
            style="width: 100%;">
            Selecione <i class="sc-icon sc-icon-seta-5-baixo"></i>
          </button>
          <ul class="sc-dropdown-menu sc-m-t-o ng-animation-slider sc-scrollbar" ng-show="menu_opcoes.isOn"
            style="width: 100%; overflow: auto; display: block;">

            <li ng-repeat="opcao in PassagensCtrl.settings.lista_status">
              <div ng-click="PassagensCtrl.filtro.setStatus(opcao)" class="vertical-align">
                <i ng-class="opcao.active ? 'sc-icon-visto-3' : 'sc-icon-quadrado-1'"></i>
                <span>{{opcao.label}}</span>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="clear sc-p-o"></div>
      <hr>

      <button class="sc-btn sc-btn-awesomeness sc-btn-blue sc-m-l-md sc-m-b-md" type="submit">
        <div class="sc-btn-icon">
          <i class="sc-icon-visto-1"></i>
        </div>
        <div class="sc-btn-text">Aplicar</div>
      </button>

      <!-- <button class="sc-btn sc-btn-awesomeness sc-btn-green sc-m-l-md sc-m-b-md" type="submit">
        <div class="sc-btn-icon">
          <i class="sc-icon-mais-1"></i>
        </div>
        <div class="sc-btn-text">Adicionar período</div>
      </button> -->

      <button class="sc-btn sc-btn-awesomeness sc-btn-red sc-m-l-md sc-m-b-md" type="button" ng-click="PassagensCtrl.filtro.limpar()">
        <div class="sc-btn-icon">
          <i class="sc-icon-fechar-1"></i>
        </div>
        <div class="sc-btn-text">Limpar busca</div>
      </button>

    </form>
  </div>
</div>
